@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>
<br />
<p style="color:indianred">
    When I realised how powerless people were when they couldn't sleep, I created Gsingh Pillow Company in 1980.<br />
    My partners and I banded together to form this company in order to fix the problem.<br /><br />
</p>

<h1>Description About The Comapny</h1>
<br />
<p style="color:indianred">
    Gsingh Pillow's Headquarters are in London, UK.<br />
    We are expanding our comapny as far as possible.<br /><br />
</p>
<h1>General Description of the Products.</h1>
<br />
<p style="color:indianred">
    When I was younger, I used to work on my family's farm, where we grew cotton and had a very little salary.
    My family and I sat down and talked about the situation. We ended up making various things out of cotton with our hands. <br />
    we stared with making pillows but the qualtiies were very low but as the time pased we made huge improvements.
    With this great improvements, our bussines started to grow at higher skies and from nothing, our comapny is now a multinational company.
    And its stock raises upto 2 Million Dollor in 2022.<br /><br />
</p>
